body{
    font-family: Arial, sans-serif; background: lavender; text-align: justify;
 padding: 20px;
}
.container{
    background: white; pedding: 10px; border-radius: 5px;display: inline-block;
}
input{
    padding: 10px;width:150px;
}
button{
    padding: 10px; margin-left: 10px;
}
li{
    list-style: none; padding: 5px; cursor: pointer;
}
